.form-field {
  width: 100%;
}

.btn-group {
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
}

.configurator-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.active-chips {
  color: white;
  background-color: #957fd8;
}

.recently-removed-chips {
  cursor: pointer;
}

.add-item-section {
  margin-top: 2em;
}

.recently-removed-list {
  margin: 1em 0;
}
