#wheel {
  transition-timing-function: cubic-bezier(0.45, 0.25, 0, 1);
  display: block;
  cursor: pointer;
}

$arrowHeight: 2em;
$arrowWidth: 3.5em;

.wheel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .arrow {
    position: absolute;
    height: $arrowHeight;
    width: $arrowWidth;
    right: 5%;
    z-index: 500;
    display: block;
    top: 50%;
    margin-top: (-$arrowHeight/2);
    transform-origin: center right;
    .pointer {
      z-index: 500;
      display: block;
      height: $arrowHeight;
      width: $arrowWidth;

      &:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 ($arrowHeight/2) $arrowWidth;
        border-color: transparent transparent #c27028 transparent;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 $arrowWidth ($arrowHeight/2) 0;
        border-color: transparent #c27028 transparent transparent;
      }
    }
  }
}

h2 {
  width: 100%;
  text-align: center;
  margin-top: 2em;
  font-weight: 500;
}
